.form-window
    display: flex
    flex-direction: column
    width: 400px
    height: 800px
    margin: 20px
    padding: 20px
    background-color: #ffffff
    box-shadow: 3px 3px 5px 6px #ccc
    border-radius: 20px

.form-window-element 
    display: flex
    flex-direction: column
    justify-content: center        

mat-form-field
    border: 1px solid black
    width: 100%

.form-element
    border: 1px solid black
    width: 100%

h1
    width: 100%

.submit-button
    background-color: #55ff22
    color: #ffffff
    width: 70%

div.form-element
    display: flex
    
    justify-content: center