<div class="form-window">
  <h1 mat-dialog-title class="form-window-element" id="mat-dialog-title">Wypełnij formularz</h1>
  <h3 id="subtitle" class="form-window-element">Skontaktujemy się z Tobą najszybciej jak to będzie możliwe.</h3>
  <div class="formContainer form-window-element" novalidate>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit (formGroup.value)" class="form">

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" class="form-field">
        <mat-label>Nazwa firmy / Imię i nazwisko</mat-label>
        <input matInput #input id="matInput" formControlName="name" placeholder="np. Apple">
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" class="form-field">
        <mat-label>Numer NIP</mat-label>
        <input matInput #input id="matInput" formControlName="nip" placeholder="123-45-67-890">
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" class="form-field">
        <mat-label>E-mail</mat-label>
        <input matInput #input id="matInput" formControlName="email" placeholder="example@email.com">
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" class="form-field">
        <mat-label>Numer Telefonu</mat-label>
        <input matInput #input id="matInput" formControlName="phone" placeholder="123 456 789">
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" class="form-field">
        <mat-label>Temat</mat-label>
        <mat-select formControlName="subject">
          <!-- <mat-option *ngFor="let hour of hours" value="{{hour}}"> -->
          <mat-option value="Wspolpraca">
            Współpraca
          </mat-option>
          <mat-option value="Inne">
            Inne
          </mat-option>
        </mat-select>
      </mat-form-field>


      <div class="radio-group">
        <mat-label>Czy posiadasz prawo jazdy kat.B? </mat-label>
        <mat-radio-group formControlName="driving-licence" aria-label="Czy posiadasz prawo jazdy kat.B?">
          <mat-radio-button value="1">Tak</mat-radio-button>
          <mat-radio-button value="2">Nie</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" class="form-field">
        <mat-label>Treść wiadomości</mat-label>
        <textarea matInput formControlName="textarea" placeholder="Dzień dobry,"></textarea>
      </mat-form-field>

      <section class="example-section">
        <mat-checkbox class="example-margin" [formControl]="checkedControl">Checked</mat-checkbox>
      </section>

      <section class="example-section">
        <mat-checkbox
            class="example-margin"
            [checked]="checkedControl.value">
          I'm a checkbox
        </mat-checkbox>
        <mat-checkbox
            class="example-margin"
            [checked]="checkedControl.value">
          I'm a checkbox 2
        </mat-checkbox>
      </section>

      <div class="form-field" id="mat-dialog-actions">
        <button mat-button class="submit-button" id="mat-button" type="submit" [disabled]="!formGroup.valid">Wyślij
          wiadomość</button>
      </div>

    </form>
  </div>
</div>